extends layout

block content
  h1= title
  p Welcome to #{title}
  #messages
  #form
   form(onsubmit='return addMessage(this)')
    input#texto(type='text', placeholder='Tell us something...')
    input(type='submit', value='Send!')